* {
  margin: 0px;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
.container_recorder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 300px;
}
/*PODCAST ACTION*/
/*BUTTONS*/
.startBtn {
}

.startBtn_Active-Style {
  background-color: #27a7e7;
  /* background-color: "#27A7E7"; */
}
.stoptBtn_Active-Style {
  background-color: red;
}
.stopBtn {
}
.btn {
  border-radius: 10px;
  padding: 20px;
  width: 200px;
}

.create_podcast_link {
}

.note_popup {
  /* visibility: none; */
}
.audioPlayback-style {
}
