.container_recorder {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.startBtn {
  background-color: blue;
}
.stopBtn {
  background-color: blueviolet;
}
.btn {
  border-radius: 10px;
  padding: 20px;
}
.create_podcast_link {
}

.note_popup {
  /* visibility: none; */
}
