.container_recorder {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.startBtn {
  background-color: aliceblue;
}
.stopBtn {
  background-color: red;
}
.btn {
  border-radius: 10px;
  padding: 20px;
}
.create_podcast_link {
}

.note_popup {
  /* visibility: none; */
}
